<div class="header">
    <div>
        <h2>Persistence</h2>
    </div>
    <div class="period">
        <app-select-preset-period class="period-select" (periodPreset)="getPresetDate($event)"></app-select-preset-period>
    </div>
</div>

<div class="container">
    <div class="chart-table-container">
        <div class="chart">
            <app-persistence-chart></app-persistence-chart>
        </div>
        <div class="table">
            <app-persistence-details [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-persistence-details>
        </div>
    </div>
    <div class="ranking">
        <app-persistence-ranking (valueChange)="getCurrentUserSelected($event)" [list]="rankingList"></app-persistence-ranking>
    </div>
</div>