.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.illustration-container {
    width: 50%;
    background-color: #f8fafe;
}

.content-container {
    height: 100%;
    width: 50%;
}

.img {
    padding: 15% 20% 20% 19%;
    width: 60%;
    height: 60%;
}

.form-container {
    margin-top: 12%;
    background-color: white;
    width: 100%;
    text-align: center;
    padding-top: 15%;
}

.mat-form-field.mat-form-field {
    width: 50%;
}

.login-button {
    margin-top: 25px;
    width: 50%;
    cursor: pointer;
    font-size: 15px;
    background-color: #5b4ff6;
    color: white;
}

.back-login {
    /* text-decoration: none; */
    font-weight: 400;
    color: black;
    font-size: 16px;
    position: absolute;
    left: 2%;
    top: 3%;
}

.password-container {
    text-align: -webkit-right;
    margin-right: 25%;
}

.password-forget {
    font-style: italic;
    font-size: 14px;
    text-decoration: none;
    color: #1C254C;
}

/********** NAVBAR ***********/

.mat-toolbar.mat-primary {
    position: relative;
    padding: 0;
}

.mat-toolbar {
    background: #f2f5fb;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    width: 100%;
    height: 54px;
}

#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}

.sign-up-container {
    position: absolute;
    right: 5%;
}

.signup-route {
    font-size: 16px;
    margin: 0;
    color:  #415574;
    font-weight: 400;
}