.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indicators-container {
    width: 100%;
}

.indicators {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.rankings-container {
    width: 100%;
}

.rankings {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}