<div class="container">
    <div class="illustration-container">
        <img class="img" src="assets/img/login.svg" alt="dev">
    </div>
    <div class="content-container">
        <mat-toolbar>
            <div class="sign-up-container">
                <p class="signup-route">Don’t have your account? <a routerLink="/signup"> Sign up now</a></p>
            </div>
        </mat-toolbar>
        <div class="form-container">
            <div>
                <button class="login gitHub" mat-raised-button (click)="onClick()"><fa-icon [icon]="faGithub" class="icon-git"></fa-icon><span>GitHub</span></button>
            </div>
            <div>
                <button class="login email" routerLink="/login-email" mat-raised-button><fa-icon [icon]="faPaperPlane" class="icon-git"></fa-icon><span>Email</span></button>
            </div>
        </div>
    </div>
</div>