.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.illustration-container {
    width: 55%;
    background-color: #f8fafe;
}

.img {
    margin-top: 5%;
}

.form-container {
    width: 45%;
    text-align: center;
    margin-top: 15%;
}

.mat-form-field.mat-form-field {
    width: 50%;
}

.login-button {
    width: 50%;
    cursor: pointer;
    font-size: 15px;
}