.container mat-card {
    margin-right: 10px;
    margin-bottom: 10px;
    /* background-color: white; */
}

.list-item {
    list-style: none;
    padding-left: 0;
    color: white;
    /* color: black; */
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px #d4d1fb, 
                0 1px 1px 0 #d4d1fb, 
                0 1px 3px 0 #d4d1fb;
}

mat-card {
    padding: 24px;
}

.scoring {
    display: flex;
}

.value {
    font-size: 28px;
    font-weight: 500;
}

.percentage {
    font-size: 13px;
    margin-top: 14px;
    margin-left: 5px;
}

.icon {
    position: absolute;
    right: 15px;
    top: 40px;
}

.img {
    width: 30%;
    margin-left: 70%;
}

.bckClassQuality {
    background-color: #003fe1;
}

.bckClassPersistence {
    background-color: #4269f6;
}

.bckClassGlobal {
    background-color: #7375f7;
}

.bckClassEvolution {
    background-color: #ab83f8;
}

.ultest {
    list-style: none;
    display: flex;
    padding-left: 33px;
}