<div class="container">
    <mat-card [ngClass]="{bckClassQuality: ['Quality score'].includes(data.score_title), 
                          bckClassPersistence: ['Persistence score'].includes(data.score_title),
                          bckClassGlobal: ['Global score'].includes(data.score_title),
                          bckClassEvolution: ['Evolution score'].includes(data.score_title)}">
        <mat-card-content>
            <ul class="list-item">
                <div class="scoring">
                    <li class="value">{{data.score}}</li>
                    <li class="percentage">{{data.percentage}}</li>
                </div>
                    <li>{{data.score_title}}</li>
                <div class="icon">
                    <li>{{data.icon}}</li>
                </div>
            </ul>
        </mat-card-content>
    </mat-card>
</div>