<div class="container">
    <mat-card [ngClass]="{bckClassQuality: ['Quality score'].includes(data.score_title), 
                          bckClassPersistence: ['Persistence score'].includes(data.score_title),
                          bckClassGlobal: ['Global score'].includes(data.score_title),
                          bckClassEvolution: ['Evolution score'].includes(data.score_title)}">
        <mat-card-content>
            <ul class="list-item">
                <div class="scoring">
                    <li class="value">{{data.score}}</li>
                    <li class="percentage">{{data.percentage}}</li>
                </div>
                    <li>{{data.score_title}}</li>
                <div class="icon">
                    <li>{{data.icon}}</li>
                </div>
            </ul>

            <!-- <div>
                <ul class="ultest">
                    <div>
                        <li class="value">{{data.score}}</li>
                        <li class="percentage">{{data.percentage}}</li>
                        <li>{{data.score_title}}</li>
                    </div>
                    <div class="icontest">
                        <img class="img" src="assets/icons/quality_score.png">
                    </div>
                </ul>
            </div> -->

            <!-- <ul class="list-item">
                <div class="scoring">
                    <div>
                            <li class="value">{{data.score}}</li>
                            <li class="percentage">{{data.percentage}}</li>
                    </div>
                    <div>
                            <li class="icon"><img class="img" src="assets/icons/quality_score.png"></li>
                    </div>

                </div>
                    <li>{{data.score_title}}</li>
                <div class="icon">
                    <li>{{data.icon}}</li>
                </div>
            </ul> -->
        </mat-card-content>
    </mat-card>
</div>