.mat-form-field.mat-form-field {
    margin-top: 12px;
    font-size: 13px;
    margin-right: 10px;
    margin-left: 4px;
    width: 100px;
    text-decoration: none;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}

.container ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
.container ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

.container ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}