table {
    width: 100%;
}

/************* HEADER ****************/

.header-container {
    display: flex;
    justify-content: space-between;
}

.selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-score {
    margin-right: 15px;
}

.select-date {
    margin-top: -7px;
}

/************* CONTENT ***************/

.content-container {
    box-shadow: 0 2px 1px -1px #d4d1fb, 
    0 1px 1px 0 #d4d1fb, 
    0 1px 3px 0 #d4d1fb;
}