<div class="header-container">
    <h2>Performance</h2>
    <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field> -->
    <div class="selectors">
        <app-select-score-type class="select-score"></app-select-score-type>
        <app-date-selector class="select-date" (dateSelected)="getDateSelected($event)"></app-date-selector>
    </div>
</div>

<div class="content-container">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
            <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"><span class="chroma-dot">test</span> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
            <td mat-cell *matCellDef="let element"><span class="bck-score"> {{element.score}} </span></td>
        </ng-container>

        <ng-container matColumnDef="evolution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Evolution </th>
            <td mat-cell *matCellDef="let element"> {{element.evolution}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>