.container mat-card {
    margin-right: 10px;
    margin-bottom: 10px;
}

mat-card {
    padding-left: 0;
}

.displayTopFlop {
    position: absolute;
    right: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.top {
    margin-right: 5px;
    font-size: 13px;
}

.flop {
    margin-left: 5px;
    font-size: 13px;
}